<h1>Top Youtube</h1>
<nav>
  <a href="#" (click)="showRegion('isTopHour')">Top Hour</a>
  <a href="#" (click)="showRegion('isTopToday')">Top Today</a>
  <a href="#" (click)="showRegion('isTopThisWeek')">Top This Week</a>
  <a href="#" (click)="showRegion('isTopThisMonth')">Top This Month</a>
  <a href="#" (click)="showRegion('isTopThisYear')">Top This Year</a>
  <a href="#" (click)="showRegion('isTopAllTime')">Top All Time</a>
</nav>
<app-top-last-hour *ngIf="type.isTopHour"></app-top-last-hour>
<app-top-today *ngIf="type.isTopToday"></app-top-today>
<app-top-this-week *ngIf="type.isTopThisWeek"></app-top-this-week>
<app-top-this-month *ngIf="type.isTopThisMonth"></app-top-this-month>
<app-top-this-year *ngIf="type.isTopThisYear"></app-top-this-year>
<app-top-all-time *ngIf="type.isTopAllTime"></app-top-all-time>
